@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'cv05', 'cv11';
}
@font-face {
  font-family: 'Tiempos';
  src: url('/tiempos-text-web-regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Tiempos';
  src: url('/tiempos-text-web-regular-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Tiempos';
  src: url('/tiempos-text-web-bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Tiempos';
  src: url('/tiempos-text-web-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos';
  src: url('/tiempos-text-web-medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Tiempos';
  src: url('/tiempos-text-web-medium-italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Tiempos';
  src: url('/tiempos-text-web-semibold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Tiempos';
  src: url('/tiempos-text-web-semibold-italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
